/ Your title comment

.container

  /Jumbotron
  .jumbotron.bg-white
    %span
      .row
        .col-lg-1
          %img.img-circle{:src => "#{@gravatar_url}", :alt => 'you'}
        .col-lg-11
          %h2 #{@user.firstname}&nbsp;#{@user.lastname}
          %small
            .row
              .col-sm-4
                %span.glyphicon.glyphicon-envelope &nbsp;#{@user.email}
  / End Jumbotron

  / Upcoming Events
  .panel.panel-primary
    .panel-heading
      %h4 Upcoming Events
    .panel-body
      .row
        .col-md-11
          <em>09.04.1979</em> My Birthday
  / End Upcoming Events

  / Middle Area
  .row.top-buffer
    .col-lg-12
      .row

        / My Events
        .col-md-5
          #my_events.panel.panel-info
            .panel-heading
              %h4 My Events
            %ul#event_list.list-group
        / End My Events

        / My Friends
        .col-md-offset-2.col-md-5
          #my_friends.panel.panel-info
            .panel-heading
              %h4 My Friends
        / End My Friends
  / End Middle Area

  / Modal definition
  #event_edit.fade.modal{'tabindex'=>'-1', 'role'=>'dialog', 'aria-labelledby' => 'myModalLabel', 'aria-hidden' => 'true'}
    .modal-dialog
      #event_edit_view.modal-content.bg-dark-white
  / End Modal definition

  / template definition

  =partial :partial_edit_event

  %div{:style => 'visibility:hidden;'}
    =partial :partial_event_list_item

%script{'src' => '/js/application.js'}
  / End template definition
