/ Your title comment
%script{'src' => '/js/app/youser.js'}
%script{'src' => '/js/app/factories/factories.js'}
%script{'src' => '/js/app/controllers/controllers.js'}
.container{'ng-app' => 'youserApp'}

.container

  /Jumbotron
  .jumbotron.bg-white
    %span
      .row
        .col-lg-1
          %img.img-circle{:src => "#{@gravatar_url}", :alt => 'you'}
        .col-lg-11
          %h2 #{@user.firstname}&nbsp;#{@user.lastname}
          %small
            .row
              .col-sm-4
                %span.glyphicon.glyphicon-envelope &nbsp;#{@user.email}
  / End Jumbotron

  / Upcoming Events
  .panel.panel-primary
    .panel-heading
      %h4 Upcoming Events
    %ul.list-group{'ng-controller' => 'EventCtrl'}
      %li.list-group-item{'ng-repeat' => 'event in upcomingEvents | limitTo: 3'}
        <em>{{event.date | date}}</em> {{event.motto}}
  / End Upcoming Events

  / Middle Area
  .row.top-buffer
    .col-lg-12
      .row

        / My Events
        .col-md-5{'ng-controller' =>'EventCtrl'}
          #my_events.panel.panel-info
            .panel-heading
              %h4 My Events
            %ul#event_list.list-group
              %li.list-group-item{'ng-repeat' => 'event in events | limitTo: 3'}
                %span.badge {{event.participants.length}}
                <em>{{event.date | date}}</em> {{event.motto}}
        / End My Events

        / My Friends
        .col-md-offset-2.col-md-5{'ng-controller' => 'UserCtrl'}
          #my_friends.panel.panel-info
            .panel-heading
              %h4 My Friends
            %ul#friend_list.list-group
              %li.list-group-item{'ng-repeat' => 'user in users | limitTo: 3'}
                {{user.firstname}} {{user.lastname}}
        / End My Friends
  / End Middle Area

  / Modal definition
  #event_edit.fade.modal{'tabindex'=>'-1', 'role'=>'dialog', 'aria-labelledby' => 'myModalLabel', 'aria-hidden' => 'true'}
    .modal-dialog
      #event_edit_view.modal-content.bg-dark-white
  / End Modal definition
