%div.jumbotron
  %h1 Welcome to #{@app_name}
  %p #{@app_name} is a service that provides you with all the information for/about you that you'll ever need
  %p
    %a.btn.btn-primary.btn-lg{'role' => 'button',:href=>'/signup'} Get Started