/ Signup page

%form.form-signin(method="post" action="signup" )
  %div.well.col-lg-12
    %input.form-control.top-radius{:type=>'text',:placeholder=>'Firstname',:name=>'firstname'}
    %input.form-control.no-radius{:type=>'text',:placeholder=>'Lastname',:name=>'lastname'}
    %input.form-control.no-radius{:type=>'email',:placeholder=>'Email',:name=>'email'}
    %input.form-control.bottom-radius{:type=>'password',:placeholder=>'Password',:name=>'password'}
    %button.btn.btn-lg.btn-primary.btn-block.top-buffer{:type=>'submit'} Sign up